<div class="todo-container">
  <h1>Todo List</h1>

  <div class="todo-form">
    <input
      type="text"
      [(ngModel)]="newTaskLabel"
      placeholder="New Task"
      (keydown.enter)="createTodo()"
    />
    <button (click)="createTodo()">Add</button>
  </div>

  <div class="todo-filter">
    <label for="filter">Filter:</label>
    <select id="filter" [(ngModel)]="filterCompleted" (change)="onFilterChange(filterCompleted)">
      <option value="all">All</option>
      <option value=true>Completed</option>
      <option value=false>Not Completed</option>
    </select>
  </div>


  <ul class="todo-list">
    <li *ngFor="let task of todoList">
      <app-task
        [task]="task"
        (toggleCompleted)="toggleCompleted(task.id, $event)"
        (delete)="deleteTodoItem(task.id)"
      ></app-task>
    </li>
  </ul>
</div>
